@import url(helper.css);
@import url(pe-icon-7-stroke.css);
@import url(owl.carousel.min.css);
@import url(owl.theme.default.min.css);
@import url(style.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300,700);
.Work_Process {
  color: #191919;
  font-size: 1.875rem;
  text-align: center;
  max-width: 504px;
  margin: auto; }

.icons2 div .design1:before, .icons2 div .Web:before, .icons2 div .App:before, .icons2 div .Game:before, .icons2 div .Seo:before, .icons2 div .Photo:before, .icons2 div .Graphic:before, .icons2 div .illustr:before {
  font-family: Pe-icon-7-stroke;
  color: #656565;
  font-size: 3rem;
  display: block;
  margin-bottom: 31px; }

.icons2 div .design1:after, .icons2 div .Web:after, .icons2 div .App:after, .icons2 div .Game:after, .icons2 div .Seo:after, .icons2 div .Photo:after, .icons2 div .Graphic:after, .icons2 div .illustr:after {
  display: block;
  color: #787878;
  font-size: 1rem;
  font-family: 'Nunito Sans', sans-serif;
  margin-top: 20px; }

.Work_Process:after {
  font-family: Nunito Sans;
  content: "Was years it seasons was there form he in in them together over that, third sixth gathered female creeping bearing behold years.";
  display: block;
  color: #787878;
  font-size: 1rem;
  margin: 41px 0 57px 0; }

.video {
  max-width: 1170px;
  margin: 0 auto 100px;
  height: 571px;
  background-color: #e9e9e9;
  box-sizing: border-box;
  position: relative; }
  .video iframe {
    width: 100%;
    height: 100%; }

.video:before {
  content: url("../images/arrow.png");
  display: block;
  width: 85px;
  margin: auto;
  position: absolute;
  top: 243px;
  left: 50%; }

.icons2 {
  background-color: #f5f5f5;
  padding: 100px 0 40px; }
  .icons2 div {
    max-width: 1131px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .icons2 div h3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: Montserrat-Medium;
      font-size: 0.75rem;
      color: #191919;
      max-width: 229px;
      text-align: center;
      margin-bottom: 60px; }
      @media screen and (max-width: 1024px) {
        .icons2 div h3 {
          font-size: 1.2rem; } }
    .icons2 div .design1:before {
      content: "\e6af"; }
    .icons2 div .design1:after {
      content: "Be set fourth land god darkness make it wherein own"; }
      @media screen and (max-width: 1024px) {
        .icons2 div .design1:after {
          font-size: 1.3rem; } }
    .icons2 div .Web:before {
      content: "\e6ab"; }
    .icons2 div .Web:after {
      content: "A she'd them bring void moving third she'd kind fill"; }
      @media screen and (max-width: 1024px) {
        .icons2 div .Web:after {
          font-size: 1.3rem; } }
    .icons2 div .App:before {
      content: "\e627"; }
    .icons2 div .App:after {
      content: "Dominion man second spirit he, earth they're creeping"; }
      @media screen and (max-width: 1024px) {
        .icons2 div .App:after {
          font-size: 1.3rem; } }
    .icons2 div .Game:before {
      content: "\e6a4"; }
    .icons2 div .Game:after {
      content: "Morning his saying moveth it multiply appear life be"; }
      @media screen and (max-width: 1024px) {
        .icons2 div .Game:after {
          font-size: 1.3rem; } }
    .icons2 div .Seo:before {
      content: "\e625"; }
    .icons2 div .Seo:after {
      content: "Give won't after land fill creeping meat you, may";
      width: 236px; }
      @media screen and (max-width: 1024px) {
        .icons2 div .Seo:after {
          font-size: 1.3rem; } }
    .icons2 div .Photo:before {
      content: "\e611"; }
    .icons2 div .Photo:after {
      content: "Creepeth one seas cattle grass give moving saw give"; }
      @media screen and (max-width: 1024px) {
        .icons2 div .Photo:after {
          font-size: 1.3rem; } }
    .icons2 div .Graphic:before {
      content: "\e6b9"; }
    .icons2 div .Graphic:after {
      content: "Open, great whales air rule for, fourth life whales"; }
      @media screen and (max-width: 1024px) {
        .icons2 div .Graphic:after {
          font-size: 1.3rem; } }
    .icons2 div .illustr:before {
      content: "\e6bd"; }
    .icons2 div .illustr:after {
      content: "Whales likeness hath, man kind for them air two won't"; }
      @media screen and (max-width: 1024px) {
        .icons2 div .illustr:after {
          font-size: 1.3rem; } }

.carusel {
  background-color: #10c9c3;
  padding: 0;
  position: relative; }
  .carusel .container {
    max-width: 1170px;
    margin: auto; }
    .carusel .container p {
      text-align: center;
      color: white;
      padding: 160px;
      font-size: 1.5rem;
      font-family: 'Montserrat-Medium', sans-serif; }
    .carusel .container p:after {
      content: "MICHAEL HOPKINS";
      display: block;
      font-size: 0.75rem;
      margin-top: 40px; }
      @media screen and (max-width: 1024px) {
        .carusel .container p:after {
          font-size: 1.3rem; } }

.owl-dots {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 60px; }
  .owl-dots .owl-dot.active span {
    background-color: #ffffff;
    width: 11px;
    height: 11px;
    position: relative;
    bottom: -3px; }
  .owl-dots .owl-dot span {
    width: 6px;
    height: 6px;
    background-color: #b0e8e6;
    display: inline-block;
    border-radius: 6px;
    margin: 0 5px; }

.Pictures {
  padding: 64px 0 64px;
  min-width: 100%;
  width: 100%;
  max-width: 100%; }
  .Pictures div {
    max-width: 1099px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative; }
    @media screen and (max-width: 1024px) {
      .Pictures div {
        padding: 0 20px 0; } }
    .Pictures div img {
      display: block;
      width: auto; }
      @media screen and (max-width: 1024px) {
        .Pictures div img {
          transition: 1s; } }
    @media screen and (max-width: 1024px) {
      .Pictures div img:active {
        transform: scale(2);
        position: absolute;
        margin-left: 30%; } }

.Need {
  background-color: #f5f5f5;
  padding: 101px 0 100px; }
  .Need div {
    max-width: 672px;
    margin: auto;
    overflow: hidden; }
    .Need div h2 {
      font-size: 1.875rem;
      font-family: 'Montserrat-Medium', sans-serif;
      color: #1d1d1d;
      text-align: center; }
    .Need div h2:after {
      content: "Let us know what you're looking for in an agency. We'll take a look and see if this could be the start of something beautiful.";
      display: block;
      color: #787878;
      font-size: 1rem;
      font-family: 'Nunito Sans', sans-serif;
      max-width: 538px;
      margin: 35px auto 38px; }
      @media screen and (max-width: 1024px) {
        .Need div h2:after {
          font-size: 1.3rem; } }
    .Need div form div input, .Need div form textarea {
      border: none;
      padding: 18px 0 19px 20px;
      color: #787878;
      font-size: 0.9375rem;
      font-family: 'Nunito Sans', sans-serif; }
      @media screen and (max-width: 1024px) {
        .Need div form div input, .Need div form textarea {
          font-size: 1.3rem; } }
    .Need div form .Name_Mail {
      margin-bottom: 30px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      .Need div form .Name_Mail input {
        width: 320px;
        box-sizing: border-box; }
    .Need div form .Title {
      margin-bottom: 30px; }
      .Need div form .Title input {
        width: 100%;
        box-sizing: border-box;
        display: block; }
    .Need div form .Comment {
      margin-bottom: 30px; }
      .Need div form .Comment textarea {
        width: 100%;
        height: 170px;
        border: none;
        padding: 18px 0 0 20px;
        box-sizing: border-box;
        resize: none; }
    .Need div form .Send {
      text-align: center; }
      .Need div form .Send input {
        background-color: #10c9c3;
        padding: 23px 35px 22px;
        font-family: 'Montserrat-Medium', sans-serif;
        color: #ffffff;
        font-size: 0.75rem; }
        @media screen and (max-width: 1024px) {
          .Need div form .Send input {
            font-size: 1.3rem; } }

footer {
  background-color: #141414;
  padding: 99px 0 101px; }
  footer div {
    max-width: 1170px;
    margin: auto; }
    footer div div {
      float: left; }
      footer div div h3 {
        font-size: 1.125rem;
        color: #ffffff;
        font-family: 'Montserrat-Medium', sans-serif;
        width: auto; }
        @media screen and (max-width: 1024px) {
          footer div div h3 {
            font-size: 2rem; } }
      footer div div h3:after {
        display: block;
        content: "\00A9 \00A0 2017 Piroll. All rights reserved. Designed by robirurk.";
        color: #bcbcbc;
        font-size: 0.9375rem;
        margin-top: 28px;
        font-family: 'Nunito Sans', sans-serif;
        max-width: 224px; }
        @media screen and (max-width: 1024px) {
          footer div div h3:after {
            font-size: 1.3rem; } }
      footer div div p {
        font-size: 0.9375rem;
        color: #bcbcbc;
        font-family: 'Nunito Sans', sans-serif; }
        @media screen and (max-width: 1024px) {
          footer div div p {
            font-size: 1.3rem; } }
      footer div div p:after {
        content: "+44 987 065 908 ";
        display: block;
        margin-top: 10px; }
        @media screen and (max-width: 1024px) {
          footer div div p:after {
            font-size: 1.3rem; } }
      footer div div ul:first-child {
        margin: 0 -12px 0 -68px; }
      @media screen and (max-width: 1024px) {
        footer div div {
          margin-top: 30px; } }
      footer div div ul {
        margin: 0 68px 0;
        float: left; }
        footer div div ul li {
          list-style-type: none; }
          footer div div ul li a {
            font-family: 'Nunito Sans', sans-serif;
            color: #bcbcbc;
            font-size: 0.9375rem;
            text-decoration: none; }
            @media screen and (max-width: 1024px) {
              footer div div ul li a {
                font-size: 1.3rem; } }
    footer div div:first-child {
      margin-right: 247px; }
    footer div div:nth-child(2) {
      margin-right: 146px; }

footer:after {
  clear: both;
  content: "";
  display: block; }

@media screen and (max-width: 1024px) {
  .header_adapt nav ul li a, .Contact_Us p, .text, .Skills div p, .adaptive_icons li a, .Work_Process:after {
    font-size: 1.4rem; }

  .adaptive_icons li:before, .adaptive_icons .Projects:before {
    font-size: 5rem; }

  .adaptive_icons .Projects a:after, .adaptive_icons .WORKING a:after, .adaptive_icons .POSITIVE a:after, .adaptive_icons .HAPPY a:after, .Load {
    font-size: 1.2rem; }

  .adaptive_icons li {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; }

  .blocks {
    width: 100%; }
    .blocks div {
      height: 296px; } }
@media only screen and (max-width: 1024px) and (max-width: 768px) {
  .header_adapt nav ul {
    display: flex;
    flex-wrap: wrap; }
    .header_adapt nav ul li {
      margin: 0 30px 0 0; }

  .blocks div {
    padding-top: 74px;
    box-sizing: border-box;
    height: 200px; }

  footer div:last-child {
    float: right;
    margin-top: -120px; } }
@media only screen and (max-width: 1024px) and (max-width: 768px) and (max-width: 414px) {
  .header_adapt nav ul {
    margin: -50px 0 0 45px; }

  .Skills div p::after {
    margin-left: -180px;
    overflow-x: hidden; }

  .adaptive_icons li {
    flex-direction: row;
    text-align: left; }

  .blocks div {
    padding-top: 34px;
    height: 100px; }

  .video {
    height: 314px; }
    .video:before {
      top: 99px;
      left: 40%; }

  .icons2 div h3 {
    max-width: 100% !important; }
    .icons2 div h3::after {
      width: 100% !important; }

  .carusel .container p {
    padding: 0; }

  .Need div form .Name_Mail input {
    width: 100%; }
    .Need div form .Name_Mail input:first-child {
      margin-bottom: 30px; }

  footer div div {
    width: 100%; }
    footer div div:last-child {
      margin: 30px 0 50px 0; }
      footer div div:last-child ul:first-child {
        margin-left: 20px; }
      footer div div:last-child ul:nth-child(3) {
        margin: 0; } }
@media only screen and (max-width: 1024px) and (max-width: 768px) and (max-width: 414px) and (max-width: 375px) {
  .header_adapt:before {
    margin: auto; }

  .Contact_Us h1 {
    text-align: center; }
  .Contact_Us .Skills div p:after {
    margin-left: -180px; }

  footer div:last-child {
    float: none;
    margin-top: 0; }
    footer div:last-child div:nth-child(2) {
      margin: 0 0 30px 30px; }
    footer div:last-child div:first-child {
      margin: -100px 0 30px 20px; }
    footer div:last-child div:last-child ul:nth-child(3) {
      margin: 30px 0 0 20px; } }
@media only screen and (max-width: 1024px) and (max-width: 768px) and (max-width: 414px) and (max-width: 375px) and (max-width: 320px) {
  .adaptive_icons .Projects:before {
    margin-right: 0; }
  .adaptive_icons li:before {
    width: auto;
    margin-right: 0; }
  .adaptive_icons li a:after {
    word-wrap: break-word; }

  .video {
    height: 256px; }
    .video:before {
      top: 90px; }

  .Pictures div img:active {
    transform: scale(2); } }
*,
*:before,
*:after {
  box-sizing: border-box; }

html {
  font-family: "Open Sans", Helvetica, arial, sans-serif;
  color: #333333;
  background-color: #eeeeee; }

body.is-froze {
  overflow: hidden;
  width: 100vw;
  height: 100vh; }

a {
  color: #333333;
  text-decoration: none; }

img {
  max-width: 100%; }

a {
  transition: color 0.3s ease-in-out; }
  a:hover {
    color: #7d87a8; }

.main {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #eeeeee;
  transition: 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: scale(1) translate3d(0, 0, 0);
  clip-path: inset(0 0 0 0);
  will-change: width, height, opacity, transform, clip-path;
  z-index: 1; }
  .main.is-active {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    width: calc(100vw - 60px);
    pointer-events: none;
    opacity: 0.25;
    transform: scale(0.9) translate3d(60%, 0, 0); }
    @media (min-width: 600px) {
      .main.is-active {
        transform: scale(0.9) translate3d(50%, 0, 0); } }
  .main.is-transition-out {
    clip-path: inset(0 0 0 100%); }

.hero__content,
.content {
  margin: 0 auto; }

.hero__content {
  width: 100%;
  z-index: 1; }

.hero__heading {
  margin: 0;
  font-size: 2rem;
  font-weight: bold; }
  @media (min-width: 600px) {
    .hero__heading {
      font-size: 3rem; } }

.hero__subheading {
  margin: 1rem 0 0;
  text-transform: uppercase;
  font-size: 1.25rem; }
  @media (min-width: 600px) {
    .hero__subheading {
      font-size: 1.5rem; } }
  .hero__subheading,
  .hero__subheading a {
    color: #4b5165; }

.article {
  padding: 1.5rem;
  position: relative; }
  @media (min-width: 600px) {
    .article {
      padding: 6vmin; } }
  .article:not(:last-of-type):after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 1.5rem;
    width: 50px;
    height: 2px;
    background-color: #7d87a8; }
    @media (min-width: 600px) {
      .article:not(:last-of-type):after {
        left: 6vmin; } }

.article__title {
  display: block;
  position: relative;
  font-family: "Raleway", "Open Sans", sans-serif;
  font-size: 1.5rem;
  color: #191b22; }
  @media (min-width: 600px) {
    .article__title {
      font-size: 3vmin; } }
  .article__title:hover {
    color: #7d87a8; }

.article__time {
  display: block;
  position: relative;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-top: 1rem; }
  @media (min-width: 600px) {
    .article__time {
      font-size: 1.5vmin; } }

.article__content {
  margin: 1rem 0 0;
  font-size: 1rem;
  line-height: 1.5; }
  @media (min-width: 600px) {
    .article__content {
      font-size: 2vmin; } }

.nav__bar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  border-right: 1px solid rgba(125, 135, 168, 0.25);
  z-index: 99; }

.nav__trigger {
  display: block;
  position: absolute;
  top: 28px;
  right: 16px;
  padding: 8px 0;
  margin-top: -10px;
  transition: 0.2s ease-in-out;
  z-index: 99; }
  .nav__trigger .bars {
    position: relative; }
    .nav__trigger .bars, .nav__trigger .bars:before, .nav__trigger .bars:after {
      width: 28px;
      height: 4px;
      background-color: #7d87a8;
      transition: 0.2s ease-in-out;
      border-radius: 4px; }
    .nav__trigger .bars:before, .nav__trigger .bars:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      will-change: transform; }
    .nav__trigger .bars:before {
      transform: translateY(-8px); }
    .nav__trigger .bars:after {
      transform: translateY(8px); }
  .nav__trigger.is-active {
    transform: rotate(-45deg); }
    .nav__trigger.is-active .bars:before, .nav__trigger.is-active .bars:after {
      transform: translateX(0) rotate(-90deg); }

.nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #808080;
  z-index: 0; }

.nav__list {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin: 0;
  padding-left: 60px;
  list-style: none;
  font-family: 'Montserrat-Medium', sans-serif;
  font-weight: bold;
  transform: translateY(-50%); }
  .nav__list .nav__item {
    padding: 0.5rem 1rem; }
    @media (min-width: 600px) {
      .nav__list .nav__item {
        width: 33.3333333333%;
        padding: 0.5rem 1rem; } }
  .nav__list a {
    display: inline-block;
    color: #00FFA9;
    font-size: 1rem;
    line-height: 1.5; }
    .nav__list a:hover {
      color: #b1b7cb; }
    .nav__list a.is-active {
      color: #d2d5e1; }
    @media (min-width: 600px) {
      .nav__list a {
        font-size: 1.5rem; } }

/*# sourceMappingURL=style.preproc.css.map */
