* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../fonts/Montserrat-Medium.eot');
    src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../fonts/Montserrat-Medium.woff') format('woff'),
    url('../fonts/Montserrat-Medium.ttf') format('truetype'),
    url('../fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/NunitoSans-Regular.eot');
    src: url('../fonts/NunitoSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NunitoSans-Regular.woff2') format('woff2'),
    url('../fonts/NunitoSans-Regular.woff') format('woff'),
    url('../fonts/NunitoSans-Regular.ttf') format('truetype'),
    url('../fonts/NunitoSans-Regular.svg#NunitoSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
header {
    background-color: #e9e9e9;
    padding: 38px 0 201px 0;
    margin-bottom: 100px;
}
.header_adapt {
    max-width: 1170px;
    margin: auto;
}
.header_flex:before {
    display: inline-block;
    content: url("../images/Logo.png");
}
.header_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-bottom: 181px;
}
.header_adapt nav ul {
    margin-top: 7px;
}
.header_adapt nav ul li {
    display: inline-block;
    margin: 0 15px 0;
}
.header_adapt nav ul:first-child{
     margin-left: -15px;
}
.header_adapt nav ul:last-child{
    margin-right: -15px;
}
.header_adapt nav ul li  a {
    color: #191919;
    text-decoration: none;
    font-size: 0.75rem;
    font-family: 'Montserrat-Medium', sans-serif;
    font-weight: bold;
}
.Contact_Us {
    float: right;
    max-width: 480px;
    margin-right: 26px;
    padding: 0;
}
.Contact_Us h1 {
    margin-bottom: 32px;
    font-size: 2.375rem;
    font-family: 'Montserrat-Medium', sans-serif;
    color: #1d1d1d;
}
.Contact_Us p {
    color: #787878;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.125rem;
    margin-bottom: 39px;
}
.Contact_Us a {
    text-decoration: none;
    color: #ffffff;
    font-size: 	0.75rem;
    font-family: 'Montserrat-Medium', sans-serif;
    padding: 23px 46px 22px;
    background-color: #10c9c3;
    max-width: 180px;
}
header:after {
    display:block;
    clear:both;
    content: "";
}
.About {
    text-align: center;
    color: #191919;
    font-size: 1.875rem;
    font-family: 'Montserrat-Medium', sans-serif;
    margin-bottom: 41px;
}
.text {
    max-width: 619px;
    margin: auto;
    font-family: 'Nunito Sans', sans-serif;
    color: #787878;
    font-size: 1rem;
    text-align: center;
}
.text:after{
    margin: 38px 0 100px 0;
    display: block;
    content: url("../images/Signature.png");
}
.Skills {

    background-color: #f8f9f9;
    font-family: 'Montserrat-Medium', sans-serif;
    display: flex;
    position: relative;
}
.Skills div {
    width: 1170px;
    margin: auto;
    z-index: 1;
}
.Skills:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 50%;
    background-color: #e9e9e9;
    display: inline-block;

}

.Skills div h2 {
    color:#171717;
    font-size: 1.875rem;
    margin: 164px 0 39px 2px;
}
.Skills div p {
    font-size: 0.75rem;
    color: #000000;
    font-weight: bold;
    display: flex;
    flex-direction:column;
}
.Design:after{
    display: block;
    content: url("../images/Design.png");
    margin: 19px 0 41px;

}
.DEVELOPMENT:after {
    display: block;
    content: url("../images/DEVELOPMENT.png");
    margin: 20px 0 41px;
}
.MARKETING:after {
    display: block;
    content: url("../images/MARKETING.png");
    margin: 20px 0 164px;
}
.icons {
    padding: 101px 0 101px;
    background-color: #10c9c3;
}
.adaptive_icons {
    max-width: 1160px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.adaptive_icons li {
    list-style-type:none;
    display: flex;
    align-items:flex-end;
    flex-wrap: wrap;

}
.adaptive_icons .Projects:before {
    content: "\e622";
    font-family: Pe-icon-7-stroke;
    color: #ffffff;
    font-size: 3rem;
    display: block;
    margin-right: 29px;
}
.adaptive_icons li a {
    text-decoration: none;
    font-family: 'Montserrat-Medium', sans-serif;
    color: #ffffff;
    font-size: 1.125rem;
    display: block;
}
.adaptive_icons .Projects a:after {
    content: "PROJECTS COMPLETED";
    display: block;
    font-size: 0.75rem;
    margin-top: 16px;
}
.WORKING:before {
    content: "\e66b";
    font-family: Pe-icon-7-stroke;
    color: #ffffff;
    font-size: 3rem;
    display: block;
    margin-right: 29px;
}
.adaptive_icons .WORKING a:after {
    content: "WORKING HOURS";
    display: block;
    font-size: 0.75rem;
    margin-top: 16px;
}
.adaptive_icons .POSITIVE a:after {
    content: "POSITIVE FEEDBACKS";
    display: block;
    font-size: 0.75rem;
    margin-top: 16px;
}
.POSITIVE:before {
    content: "\e611";
    font-family: Pe-icon-7-stroke;
    color: #ffffff;
    font-size: 3rem;
    display: block;
    margin-right: 29px;
}
.adaptive_icons .HAPPY a:after {
    content: "HAPPY CLIENTS";
    display: block;
    font-size: 0.75rem;
    margin-top: 16px;
}
.HAPPY:before {
    content: "\e642";
    font-family: Pe-icon-7-stroke;
    color: #ffffff;
    font-size: 3rem;
    display: block;
    margin-right: 29px;
}
.blocks {
    max-width: 1382px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.blocks div {
    width: 342px;
    height: 299px;
    padding-top: 134px;
    text-align: center;
    box-sizing: border-box;
}
.blocks div:nth-child(odd){
    background-color: #838383;
}
.blocks div:nth-child(even){
    background-color: #dddddd;
}
.blocks div:nth-child(5){
    background-color: #dddddd;
}
.blocks div:nth-child(6) {
    background-color: #838383;
}
.blocks div:nth-child(7){
    background-color: #dddddd;
}
.blocks div:nth-child(8) {
    background-color: #838383;
}
.blocks div:active {
    background-color: #252525;
}
.blocks div:active:before{
    content: "\e63e";
    display: block;
    font-family: Pe-icon-7-stroke;
    color: #ffffff;
    font-size: 3rem;
}
.Load {
    font-family: 'Montserrat-Medium', sans-serif;
    text-align: center;
    font-size: 	0.75rem;
    color: #8e8e8e;
    padding: 46px 0 45px 0;
    background-color: #f5f5f5;
    margin-bottom: 100px;
}
body {
    overflow-x: hidden;

}
